# Loading Dataset

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import kagglehub
import re
import numpy as np

plt.style.use('fivethirtyeight')
color_pallete = ["#e27c7c", "#a86464", "#6d4b4b", "#503f3f", "#333333", "#3c4e4b", "#466964", "#599e94", "#6cd4c5"]

In [ ]:
path = kagglehub.dataset_download("thedevastator/unlock-profits-with-e-commerce-sales-data")
path = os.path.join(path, r'Amazon Sale Report.csv')

Using Colab cache for faster access to the 'unlock-profits-with-e-commerce-sales-data' dataset.
Using Colab cache for faster access to the 'unlock-profits-with-e-commerce-sales-data' dataset.

In [ ]:
df = pd.read_csv(path)
df = df[:50_000]
df.head()

/tmp/ipython-input-2593469420.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

/tmp/ipython-input-2593469420.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               50000 non-null  int64
 1   Order ID            50000 non-null  object
 2   Date                50000 non-null  object
 3   Status              50000 non-null  object
 4   Fulfilment          50000 non-null  object
 5   Sales Channel       50000 non-null  object
 6   ship-service-level  50000 non-null  object
 7   Style               50000 non-null  object
 8   SKU                 50000 non-null  object
 9   Category            50000 non-null  object
 10  Size                50000 non-null  object
 11  ASIN                50000 non-null  object
 12  Courier Status      47153 non-null  object
 13  Qty                 50000 non-null  int64
 14  currency            46960 non-null  object
 15  Amount              46960 non-null  float64
 16  ship-city           49987 non-null  object
 17  ship-state          49987 non-null  object
 18  ship-postal-code    49987 non-null  float64
 19  ship-country        49987 non-null  object
 20  promotion-ids       31374 non-null  object
 21  B2B                 50000 non-null  bool
 22  fulfilled-by        16035 non-null  object
 23  Unnamed: 22         950 non-null    object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 8.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               50000 non-null  int64
 1   Order ID            50000 non-null  object
 2   Date                50000 non-null  object
 3   Status              50000 non-null  object
 4   Fulfilment          50000 non-null  object
 5   Sales Channel       50000 non-null  object
 6   ship-service-level  50000 non-null  object
 7   Style               50000 non-null  object
 8   SKU                 50000 non-null  object
 9   Category            50000 non-null  object
 10  Size                50000 non-null  object
 11  ASIN                50000 non-null  object
 12  Courier Status      47153 non-null  object
 13  Qty                 50000 non-null  int64
 14  currency            46960 non-null  object
 15  Amount              46960 non-null  float64
 16  ship-city           49987 non-null  object
 17  ship-state          49987 non-null  object
 18  ship-postal-code    49987 non-null  float64
 19  ship-country        49987 non-null  object
 20  promotion-ids       31374 non-null  object
 21  B2B                 50000 non-null  bool
 22  fulfilled-by        16035 non-null  object
 23  Unnamed: 22         950 non-null    object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 8.8+ MB

# Cleaning Dataset

## 2.1 Dropping columns

In [ ]:
unique_data_df = df.apply(pd.unique).to_frame(name='Unique Values')
unique_data_df.loc[:, 'Unique Count'] = df.apply(pd.Series.nunique).values
unique_data_df

,Unique Values,Unique Count
index,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",50000
Order ID,"[405-8078784-5731545, 171-9198151-1101146, 404...",46729
Date,"[04-30-22, 04-29-22, 04-28-22, 04-27-22, 04-26...",32
Status,"[Cancelled, Shipped - Delivered to Buyer, Ship...",10
Fulfilment,"[Merchant, Amazon]",2
Sales Channel,"[Amazon.in, Non-Amazon]",2
ship-service-level,"[Standard, Expedited]",2
Style,"[SET389, JNE3781, JNE3371, J0341, JNE3671, SET...",1226
SKU,"[SET389-KR-NP-S, JNE3781-KR-XXXL, JNE3371-KR-X...",5757
Category,"[Set, kurta, Western Dress, Top, Ethnic Dress,...",8
Size,"[S, 3XL, XL, L, XXL, XS, 6XL, M, 4XL, 5XL, Free]",11
ASIN,"[B09KXVBD7Z, B09K3WFS32, B07WV4JV4D, B099NRCT7...",5752
Courier Status,"[nan, Shipped, Cancelled, Unshipped]",3
Qty,"[0, 1, 2, 15, 3, 9, 13, 5, 4, 8]",10
currency,"[INR, nan]",1
Amount,"[647.62, 406.0, 329.0, 753.33, 574.0, 824.0, 6...",883
ship-city,"[MUMBAI, BENGALURU, NAVI MUMBAI, PUDUCHERRY, C...",5180
ship-state,"[MAHARASHTRA, KARNATAKA, PUDUCHERRY, TAMIL NAD...",58
ship-postal-code,"[400081.0, 560085.0, 410210.0, 605008.0, 60007...",6784
ship-country,"[IN, nan]",1
promotion-ids,"[nan, Amazon PLCC Free-Financing Universal Mer...",1817
B2B,"[False, True]",2
fulfilled-by,"[Easy Ship, nan]",1
Unnamed: 22,"[nan, False]",1

,Unique Values,Unique Count
index,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",50000
Order ID,"[405-8078784-5731545, 171-9198151-1101146, 404...",46729
Date,"[04-30-22, 04-29-22, 04-28-22, 04-27-22, 04-26...",32
Status,"[Cancelled, Shipped - Delivered to Buyer, Ship...",10
Fulfilment,"[Merchant, Amazon]",2
Sales Channel,"[Amazon.in, Non-Amazon]",2
ship-service-level,"[Standard, Expedited]",2
Style,"[SET389, JNE3781, JNE3371, J0341, JNE3671, SET...",1226
SKU,"[SET389-KR-NP-S, JNE3781-KR-XXXL, JNE3371-KR-X...",5757
Category,"[Set, kurta, Western Dress, Top, Ethnic Dress,...",8
Size,"[S, 3XL, XL, L, XXL, XS, 6XL, M, 4XL, 5XL, Free]",11
ASIN,"[B09KXVBD7Z, B09K3WFS32, B07WV4JV4D, B099NRCT7...",5752
Courier Status,"[nan, Shipped, Cancelled, Unshipped]",3
Qty,"[0, 1, 2, 15, 3, 9, 13, 5, 4, 8]",10
currency,"[INR, nan]",1
Amount,"[647.62, 406.0, 329.0, 753.33, 574.0, 824.0, 6...",883
ship-city,"[MUMBAI, BENGALURU, NAVI MUMBAI, PUDUCHERRY, C...",5180
ship-state,"[MAHARASHTRA, KARNATAKA, PUDUCHERRY, TAMIL NAD...",58
ship-postal-code,"[400081.0, 560085.0, 410210.0, 605008.0, 60007...",6784
ship-country,"[IN, nan]",1
promotion-ids,"[nan, Amazon PLCC Free-Financing Universal Mer...",1817
B2B,"[False, True]",2
fulfilled-by,"[Easy Ship, nan]",1
Unnamed: 22,"[nan, False]",1

In [ ]:
# drop every column with 1 only unique value (where nan can be ignored and not replaced)
df_clean = df.drop(columns = ['currency', 'Unnamed: 22'], axis=1)
print(list(df_clean.columns))

['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ', 'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN', 'Courier Status', 'Qty', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids', 'B2B', 'fulfilled-by']
['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ', 'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN', 'Courier Status', 'Qty', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids', 'B2B', 'fulfilled-by']

## 2.2 Formatting Names

In [ ]:
def clean_col_names(columns):
    new_columns = []
    for col in columns:
        col = col.lower()                           # lowercase every name
        col = col.replace(' ', '_')                 # replace spaces with underscores
        col = col.replace('-', '_')                 # replace hypens with underscores
        col = re.sub(r'[^a-zA-Z0-9_]', '', col)     # drop everything besides letters, digits or underscores
        col = col.strip('_')                        # strip trailing underscores
        new_columns.append(col)
    return new_columns

In [ ]:
old_columns = df_clean.columns.tolist()
new_columns = clean_col_names(old_columns)

df_clean.columns = new_columns

print('Cleaned Columns:', new_columns)

Cleaned Columns: ['index', 'order_id', 'date', 'status', 'fulfilment', 'sales_channel', 'ship_service_level', 'style', 'sku', 'category', 'size', 'asin', 'courier_status', 'qty', 'amount', 'ship_city', 'ship_state', 'ship_postal_code', 'ship_country', 'promotion_ids', 'b2b', 'fulfilled_by']
Cleaned Columns: ['index', 'order_id', 'date', 'status', 'fulfilment', 'sales_channel', 'ship_service_level', 'style', 'sku', 'category', 'size', 'asin', 'courier_status', 'qty', 'amount', 'ship_city', 'ship_state', 'ship_postal_code', 'ship_country', 'promotion_ids', 'b2b', 'fulfilled_by']

In [ ]:
# renaming ambiguous or poorly typed column names
new_columns = {'qty': 'quantity', 'amount': 'revenue'}
df_clean = df_clean.rename(columns=new_columns)
print('Cleaned Columns:', df_clean.columns.tolist())

Cleaned Columns: ['index', 'order_id', 'date', 'status', 'fulfilment', 'sales_channel', 'ship_service_level', 'style', 'sku', 'category', 'size', 'asin', 'courier_status', 'quantity', 'revenue', 'ship_city', 'ship_state', 'ship_postal_code', 'ship_country', 'promotion_ids', 'b2b', 'fulfilled_by']
Cleaned Columns: ['index', 'order_id', 'date', 'status', 'fulfilment', 'sales_channel', 'ship_service_level', 'style', 'sku', 'category', 'size', 'asin', 'courier_status', 'quantity', 'revenue', 'ship_city', 'ship_state', 'ship_postal_code', 'ship_country', 'promotion_ids', 'b2b', 'fulfilled_by']

In [ ]:
df_clean.head()

,index,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,...,courier_status,quantity,revenue,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,b2b,fulfilled_by
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,NaN,0,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,NaN,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,Shipped,1,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN

,index,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,...,courier_status,quantity,revenue,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,b2b,fulfilled_by
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,NaN,0,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,NaN,0,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,Shipped,1,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN

In [ ]:
# cleaning indivual values within columns
df_clean.loc[:, 'ship_city'] = df_clean['ship_city'].str.title()
df_clean.loc[:, 'ship_state'] = df_clean['ship_state'].str.title()
df_clean.loc[:, 'category'] = df_clean['category'].str.title()
df_clean.loc[:, 'status'] = df_clean['status'].str.lower().replace(r'[\s-]+', '_', regex=True)
df_clean.head()

,index,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,...,courier_status,quantity,revenue,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,b2b,fulfilled_by
0,0,405-8078784-5731545,04-30-22,cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,NaN,0,647.62,Mumbai,Maharashtra,400081.0,IN,NaN,False,Easy Ship
1,1,171-9198151-1101146,04-30-22,shipped_delivered_to_buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,Kurta,...,Shipped,1,406.00,Bengaluru,Karnataka,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship
2,2,404-0687676-7273146,04-30-22,shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,Kurta,...,Shipped,1,329.00,Navi Mumbai,Maharashtra,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN
3,3,403-9615377-8133951,04-30-22,cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,NaN,0,753.33,Puducherry,Puducherry,605008.0,IN,NaN,False,Easy Ship
4,4,407-1069790-7240320,04-30-22,shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,Shipped,1,574.00,Chennai,Tamil Nadu,600073.0,IN,NaN,False,NaN

,index,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,...,courier_status,quantity,revenue,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,b2b,fulfilled_by
0,0,405-8078784-5731545,04-30-22,cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,NaN,0,647.62,Mumbai,Maharashtra,400081.0,IN,NaN,False,Easy Ship
1,1,171-9198151-1101146,04-30-22,shipped_delivered_to_buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,Kurta,...,Shipped,1,406.00,Bengaluru,Karnataka,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship
2,2,404-0687676-7273146,04-30-22,shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,Kurta,...,Shipped,1,329.00,Navi Mumbai,Maharashtra,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN
3,3,403-9615377-8133951,04-30-22,cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,NaN,0,753.33,Puducherry,Puducherry,605008.0,IN,NaN,False,Easy Ship
4,4,407-1069790-7240320,04-30-22,shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,Shipped,1,574.00,Chennai,Tamil Nadu,600073.0,IN,NaN,False,NaN

## 2.3 Datetime Formatting

In [ ]:
print(df_clean['date'][0])

04-30-22
04-30-22

In [ ]:
df_clean['date'] = pd.to_datetime(df_clean['date'], format = '%m-%d-%y')
df_clean.head()

,index,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,...,courier_status,quantity,revenue,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,b2b,fulfilled_by
0,0,405-8078784-5731545,2022-04-30,cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,NaN,0,647.62,Mumbai,Maharashtra,400081.0,IN,NaN,False,Easy Ship
1,1,171-9198151-1101146,2022-04-30,shipped_delivered_to_buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,Kurta,...,Shipped,1,406.00,Bengaluru,Karnataka,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship
2,2,404-0687676-7273146,2022-04-30,shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,Kurta,...,Shipped,1,329.00,Navi Mumbai,Maharashtra,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN
3,3,403-9615377-8133951,2022-04-30,cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,NaN,0,753.33,Puducherry,Puducherry,605008.0,IN,NaN,False,Easy Ship
4,4,407-1069790-7240320,2022-04-30,shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,Shipped,1,574.00,Chennai,Tamil Nadu,600073.0,IN,NaN,False,NaN

,index,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,...,courier_status,quantity,revenue,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,b2b,fulfilled_by
0,0,405-8078784-5731545,2022-04-30,cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,NaN,0,647.62,Mumbai,Maharashtra,400081.0,IN,NaN,False,Easy Ship
1,1,171-9198151-1101146,2022-04-30,shipped_delivered_to_buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,Kurta,...,Shipped,1,406.00,Bengaluru,Karnataka,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship
2,2,404-0687676-7273146,2022-04-30,shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,Kurta,...,Shipped,1,329.00,Navi Mumbai,Maharashtra,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN
3,3,403-9615377-8133951,2022-04-30,cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,NaN,0,753.33,Puducherry,Puducherry,605008.0,IN,NaN,False,Easy Ship
4,4,407-1069790-7240320,2022-04-30,shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,Shipped,1,574.00,Chennai,Tamil Nadu,600073.0,IN,NaN,False,NaN

## 2.4 Fixing Blank Values

### 2.4.1 Courier status

In [ ]:
print('Unique Courier Status Values: ', list(df_clean['courier_status'].unique()))

Unique Courier Status Values:  [nan, 'Shipped', 'Cancelled', 'Unshipped']
Unique Courier Status Values:  [nan, 'Shipped', 'Cancelled', 'Unshipped']

In [ ]:
df_clean['courier_status'] = df_clean['courier_status'].fillna(value='Lost')
print('New unique courier status values: ', list(df_clean['courier_status'].unique()))

New unique courier status values:  ['Lost', 'Shipped', 'Cancelled', 'Unshipped']
New unique courier status values:  ['Lost', 'Shipped', 'Cancelled', 'Unshipped']

### 2.4.2 Promotion IDs

In [ ]:
# finding unique and empty promotion-ids
print(
    f'Number of nan values: {df_clean['promotion_ids'].isna().sum()}'
    f'\nNumber of unique values: {df_clean["promotion_ids"].nunique()}'
    )

Number of nan values: 18626
Number of unique values: 1817
Number of nan values: 18626
Number of unique values: 1817

In [ ]:
df_clean.loc[:, 'promotion_ids'] = df_clean['promotion_ids'].fillna(value='None')

print(f'Number of nan values: {df_clean['promotion_ids'].isna().sum()}')

Number of nan values: 0
Number of nan values: 0

### 2.4.3 Fullfilled By

In [ ]:
# finding unique and empty rows for fulfillment method
print(
    f'Number of nan values: {df_clean['fulfilled_by'].isna().sum()}',
    f'\nNubmer of unique values: {df_clean["fulfilled_by"].unique()}'
)

Number of nan values: 33965
Nubmer of unique values: ['Easy Ship' nan]
Number of nan values: 33965
Nubmer of unique values: ['Easy Ship' nan]

In [ ]:
df_clean.loc[:, 'fulfilled_by'] = df_clean["fulfilled_by"].fillna(value='Other Fulfillment')

print(f'Number of nan values: {df_clean["fulfilled_by"].isna().sum()}')

Number of nan values: 0
Number of nan values: 0

## 2.5 Dropping Rows

### 2.5.1 Revenue

In [ ]:
print('Minimum revenue: ', df_clean['revenue'].min())
print('Maximum revenue: ', df_clean['revenue'].max())

Minimum revenue:  0.0
Maximum revenue:  5584.0
Minimum revenue:  0.0
Maximum revenue:  5584.0

In [ ]:
# Lots of time revenue == 0 corrsponds to "cancelled" orders
# We will verify its true in our dataset
print(df_clean[df_clean['revenue'] == 0][['revenue', 'quantity', 'status']].head(10))

     revenue  quantity                      status
212      0.0         1  shipped_delivered_to_buyer
374      0.0         1  shipped_returned_to_seller
385      0.0         1                     shipped
388      0.0         1  shipped_delivered_to_buyer
392      0.0         1                     shipped
436      0.0         1                     shipped
441      0.0         1  shipped_delivered_to_buyer
446      0.0         1                     shipped
449      0.0         1                     shipped
729      0.0         1  shipped_delivered_to_buyer
     revenue  quantity                      status
212      0.0         1  shipped_delivered_to_buyer
374      0.0         1  shipped_returned_to_seller
385      0.0         1                     shipped
388      0.0         1  shipped_delivered_to_buyer
392      0.0         1                     shipped
436      0.0         1                     shipped
441      0.0         1  shipped_delivered_to_buyer
446      0.0         1                     shipped
449      0.0         1                     shipped
729      0.0         1  shipped_delivered_to_buyer

**0.0** revenue **does not** correspond to returned or cancelled status of order. So we can either impute or drop the data. A safe assumption for dropping would be if the rows amount for less than 2% we can drop the rows.

In [ ]:
print(f'Percentage of Blank revenue: {df_clean[df_clean['revenue'] == 0].shape[0] / df_clean.shape[0] * 100}% ')

Percentage of Blank revenue: 1.712%
Percentage of Blank revenue: 1.712%

In [ ]:
df_clean = df_clean[df_clean['revenue'] > 0]
print(f'New lenght of dataframe: {df_clean.shape[0]}')

New lenght of dataframe: 46104
New lenght of dataframe: 46104

### 2.5.2 Quantity

In [ ]:
print('Minimum quantity: ', df_clean['quantity'].min())
print('Maximum quantity: ', df_clean['quantity'].max())

Minimum quantity:  0
Maximum quantity:  8
Minimum quantity:  0
Maximum quantity:  8

In [ ]:
# again, order quantity of 0 should correspond to not deleivered orders
# we will verify if its truly is the case
print(df_clean[df_clean['quantity'] == 0][['revenue', 'quantity', 'status']])

       revenue  quantity     status
0       647.62         0  cancelled
3       753.33         0  cancelled
23      570.48         0  cancelled
83     1105.36         0  cancelled
178     463.81         0  cancelled
...        ...       ...        ...
49888   380.00         0  cancelled
49908   551.43         0  cancelled
49924   734.29         0  cancelled
49951   734.29         0  cancelled
49990   686.67         0  cancelled

[2154 rows x 3 columns]
       revenue  quantity     status
0       647.62         0  cancelled
3       753.33         0  cancelled
23      570.48         0  cancelled
83     1105.36         0  cancelled
178     463.81         0  cancelled
...        ...       ...        ...
49888   380.00         0  cancelled
49908   551.43         0  cancelled
49924   734.29         0  cancelled
49951   734.29         0  cancelled
49990   686.67         0  cancelled

[2154 rows x 3 columns]

It seems 0 quanitity does correspond to cancelled orders and therefore need no dropping.

### 2.5.2 Locations

In [ ]:
# checking number of empty cities/state/postal_code rows
print(df_clean['ship_city'].isna().sum(), df_clean['ship_state'].isna().sum(), df_clean['ship_postal_code'].isna().sum())

13 13 13
13 13 13

In [ ]:
df_clean = df_clean.dropna(subset=['ship_city', 'ship_state', 'ship_postal_code'])
print(f'Length of dataframe: {df_clean.shape[0]}')

Length of dataframe: 46091
Length of dataframe: 46091

## 2.6 Verifying

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46091 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               46091 non-null  int64
 1   order_id            46091 non-null  object
 2   date                46091 non-null  datetime64[ns]
 3   status              46091 non-null  object
 4   fulfilment          46091 non-null  object
 5   sales_channel       46091 non-null  object
 6   ship_service_level  46091 non-null  object
 7   style               46091 non-null  object
 8   sku                 46091 non-null  object
 9   category            46091 non-null  object
 10  size                46091 non-null  object
 11  asin                46091 non-null  object
 12  courier_status      46091 non-null  object
 13  quantity            46091 non-null  int64
 14  revenue             46091 non-null  float64
 15  ship_city           46091 non-null  object
 16  ship_state          46091 non-null  object
 17  ship_postal_code    46091 non-null  float64
 18  ship_country        46091 non-null  object
 19  promotion_ids       46091 non-null  object
 20  b2b                 46091 non-null  bool
 21  fulfilled_by        46091 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(16)
memory usage: 7.8+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 46091 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               46091 non-null  int64
 1   order_id            46091 non-null  object
 2   date                46091 non-null  datetime64[ns]
 3   status              46091 non-null  object
 4   fulfilment          46091 non-null  object
 5   sales_channel       46091 non-null  object
 6   ship_service_level  46091 non-null  object
 7   style               46091 non-null  object
 8   sku                 46091 non-null  object
 9   category            46091 non-null  object
 10  size                46091 non-null  object
 11  asin                46091 non-null  object
 12  courier_status      46091 non-null  object
 13  quantity            46091 non-null  int64
 14  revenue             46091 non-null  float64
 15  ship_city           46091 non-null  object
 16  ship_state          46091 non-null  object
 17  ship_postal_code    46091 non-null  float64
 18  ship_country        46091 non-null  object
 19  promotion_ids       46091 non-null  object
 20  b2b                 46091 non-null  bool
 21  fulfilled_by        46091 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(16)
memory usage: 7.8+ MB

In [ ]:
unique_data_df = df_clean.apply(pd.unique).to_frame(name='Unique Values')
unique_data_df.loc[:, 'Unique Count'] = df_clean.apply(pd.Series.nunique).values
unique_data_df

,Unique Values,Unique Count
index,"[0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14...",46091
order_id,"[405-8078784-5731545, 171-9198151-1101146, 404...",42995
date,"[2022-04-30T00:00:00.000000000, 2022-04-29T00:...",32
status,"[cancelled, shipped_delivered_to_buyer, shippe...",9
fulfilment,"[Merchant, Amazon]",2
sales_channel,[Amazon.in],1
ship_service_level,"[Standard, Expedited]",2
style,"[SET389, JNE3781, JNE3371, J0341, JNE3671, SET...",1220
sku,"[SET389-KR-NP-S, JNE3781-KR-XXXL, JNE3371-KR-X...",5683
category,"[Set, Kurta, Western Dress, Top, Ethnic Dress,...",8
size,"[S, 3XL, XL, L, XXL, XS, 6XL, M, 4XL, 5XL, Free]",11
asin,"[B09KXVBD7Z, B09K3WFS32, B07WV4JV4D, B099NRCT7...",5679
courier_status,"[Lost, Shipped, Unshipped]",3
quantity,"[0, 1, 2, 3, 5, 4, 8]",7
revenue,"[647.62, 406.0, 329.0, 753.33, 574.0, 824.0, 6...",882
ship_city,"[Mumbai, Bengaluru, Navi Mumbai, Puducherry, C...",4190
ship_state,"[Maharashtra, Karnataka, Puducherry, Tamil Nad...",43
ship_postal_code,"[400081.0, 560085.0, 410210.0, 605008.0, 60007...",6653
ship_country,[IN],1
promotion_ids,"[None, Amazon PLCC Free-Financing Universal Me...",1801
b2b,"[False, True]",2
fulfilled_by,"[Easy Ship, Other Fulfillment]",2

,Unique Values,Unique Count
index,"[0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14...",46091
order_id,"[405-8078784-5731545, 171-9198151-1101146, 404...",42995
date,"[2022-04-30T00:00:00.000000000, 2022-04-29T00:...",32
status,"[cancelled, shipped_delivered_to_buyer, shippe...",9
fulfilment,"[Merchant, Amazon]",2
sales_channel,[Amazon.in],1
ship_service_level,"[Standard, Expedited]",2
style,"[SET389, JNE3781, JNE3371, J0341, JNE3671, SET...",1220
sku,"[SET389-KR-NP-S, JNE3781-KR-XXXL, JNE3371-KR-X...",5683
category,"[Set, Kurta, Western Dress, Top, Ethnic Dress,...",8
size,"[S, 3XL, XL, L, XXL, XS, 6XL, M, 4XL, 5XL, Free]",11
asin,"[B09KXVBD7Z, B09K3WFS32, B07WV4JV4D, B099NRCT7...",5679
courier_status,"[Lost, Shipped, Unshipped]",3
quantity,"[0, 1, 2, 3, 5, 4, 8]",7
revenue,"[647.62, 406.0, 329.0, 753.33, 574.0, 824.0, 6...",882
ship_city,"[Mumbai, Bengaluru, Navi Mumbai, Puducherry, C...",4190
ship_state,"[Maharashtra, Karnataka, Puducherry, Tamil Nad...",43
ship_postal_code,"[400081.0, 560085.0, 410210.0, 605008.0, 60007...",6653
ship_country,[IN],1
promotion_ids,"[None, Amazon PLCC Free-Financing Universal Me...",1801
b2b,"[False, True]",2
fulfilled_by,"[Easy Ship, Other Fulfillment]",2

In [ ]:
# drop remaining column with 1 only unique value
df_clean = df_clean.drop(columns = ['sales_channel', 'ship_country'], axis=1)
print(list(df_clean.columns))

['index', 'order_id', 'date', 'status', 'fulfilment', 'ship_service_level', 'style', 'sku', 'category', 'size', 'asin', 'courier_status', 'quantity', 'revenue', 'ship_city', 'ship_state', 'ship_postal_code', 'promotion_ids', 'b2b', 'fulfilled_by']
['index', 'order_id', 'date', 'status', 'fulfilment', 'ship_service_level', 'style', 'sku', 'category', 'size', 'asin', 'courier_status', 'quantity', 'revenue', 'ship_city', 'ship_state', 'ship_postal_code', 'promotion_ids', 'b2b', 'fulfilled_by']

In [ ]:
df_clean.to_csv('amazon_retail_50000_clean.csv')